
	<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
	     <div style="background:url('../assets/img/signbg.png') #c8477a;width:280px;margin:auto;margin-top:-55px;box-shadow: 0px 6px 7px #c5c3c3;">
	     <div class="logins"> 
		 <div class="loginsin">
		 <a href="#" class="active1" style="padding-right:30px;">SIGN UP </a> <a href="#">LOG IN</a> 
		 <div class="clearfix"></div>
		 </div>
		 <p class="pt40 mbn socialm" style="padding-top:20px;margin-bottom:0px;">
		 <a href="#" style="padding-right:20px;" class="active"><i class="fa fa-facebook"></i></a>
		 <a href="#"><i class="fa fa-google"></i></a>
		 </p>
		 </div>
		 
		 </div>
		 
		 <div style="padding:15px 30px  30px 30px;">
		   <p style="color:#fd6380;" class="text-center"> or Be Classical </p>
		   <div class="row" style="padding-bottom:30px;">
		   <div class="col-md-12">
		   <label class="pull-left" style="display:inline-block;width:8%;"><img src="../assets/img/user.png"/></label> 
		   <input type="text" class="form-control pln" placeholder="First name ..." style="display:inline-block;width:88%;padding-left:0px;margin-left:4%;"/>
		   </div>
		   </div>
		   <div class="row" style="padding-bottom:30px;">
		   <div class="col-md-12">
		   <label class="pull-left" style="display:inline-block;width:8%;"><img src="../assets/img/mail.png"/></label> 
		   <input type="text" class="form-control pln" placeholder="Email ..." style="display:inline-block;width:88%;padding-left:0px;margin-left:4%;"/>
		   </div>
		   </div>
		   <div class="row" style="padding-bottom:30px;">
		   <div class="col-md-12">
		   <label class="pull-left" style="display:inline-block;width:8%;"><img src="../assets/img/lock.png"/></label> 
		   <input type="password" class="form-control pln" placeholder="Password ..." style="display:inline-block;width:88%;padding-left:0px;margin-left:4%;"/>
		   </div>
		   </div>
		   <div class="row">
		   <div class="col-md-12 text-center">
		     <label class="control control--radio">Audience
			  <input type="radio" name="radio" checked="checked"/>
			  <div class="control__indicator"></div>
			</label>
			<label class="control control--radio">Film maker
			  <input type="radio" name="radio"/>
			  <div class="control__indicator"></div>
			</label>
	        </div>
		   </div>
		   <div style="margin-top:15px;" class="text-center">
		   <a href="#" class="btn btn-signup">SIGNUP</a>
		   </div>
		   <p style="font-size:11px;padding-top:15px;    color: #737070;"> By signing up, I agree with CelluloidX’sTerms & Privacy. </p>
		 </div>
		
		 
       <!--  <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div>
        <div id="page">		
			<!-- Page Loader -->
			<div id="pageloader">
				<div class="loader-item fa fa-spin text-color"></div>
			</div>        
<!-- Sticky Navbar -->
			 <header id="sticker" class="sticky-navigation light-header">
				<!-- Sticky Menu -->
				<div class="sticky-menu relative">
					<!-- navbar -->
					<div class="navbar navbar-default navbar-bg-light" role="navigation">
						<div class="container-fluid">
							<div class="row" id="fixtop">
								<div class="col-md-12" style="padding-left:30px;padding-right:30px;">
									<div class="navbar-header">
									<!-- Button For Responsive toggle -->
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span> 
									<span class="icon-bar"></span> 
									<span class="icon-bar"></span> 
									<span class="icon-bar"></span></button> 
									<!-- Logo -->
									 
									<a class="navbar-brand" href="index.html">
										<img class="site_logo" alt="Site Logo" src="../assets/img/logo.png" />
									</a></div>
									<!-- Navbar Collapse -->
									<div class="navbar-collapse collapse">
										<!-- nav -->
										<ul class="nav navbar-nav">										
											<!-- Contact Block -->
											<li>
												<a href="#" style="padding-right:25px">HOW IT WORKS</a>
											</li>
											<!-- Ends Widgets Block -->
											<!-- Pages Mega Menu -->
											<li class="mega-menu">
												<a href="#" data-toggle="modal" data-target="#myModal">LOGIN</a>											
											</li>
											<!-- Shortcode Menu Ends -->
											<!-- Header Search -->
											<!-- <li class="hidden-767">
												<a href="#" class="header-search">
													<span>
														<i class="fa fa-search"></i>
													</span>
												</a>
											</li> -->
										</ul>
										<!-- Right nav -->
										<!-- Header Search Content -->
										<div class="bg-white hide-show-content no-display header-search-content">
											<form role="search" class="navbar-form vertically-absolute-middle">
											
												<div class="form-group">
													<input type="text" placeholder="Enter your text &amp; Search Here" class="form-control" id="s" name="s" value="" />
												</div>
											</form>
											<button class="close">
												<i class="fa fa-times"></i>
											</button>
										</div>
										<!-- Header Search Content -->
									</div>
									<!-- /.navbar-collapse -->
								</div>
								<!-- /.col-md-12 -->
							</div>
							<!-- /.row -->
							
						</div>
						<!-- /.container -->
					</div>
					<!-- navbar -->
				</div>
				 <!-- Sticky Menu -->
			</header>
			<!-- Sticky Navbar -->		
			
            <section style="background:#ededed;">
 
			 <div class="container" style="max-width:1000px;margin:auto;">			 
			<div class="row ph65">
			  <div class="col-md-12">
			  <h1 style="color:#a7a1a1;margin-bottom:0px;padding:20px 0;"> Add a film </h1>
			   <div class="panel mt20">
				  <div class="panel-body">
				    <div class="comp-title">
					  <h3 class="mtn"> <span class="comp-one"> 1 </span> Film information / Specifications </h3>
					</div>
					<div class="row">
					<div class="col-md-3">
				     <p class="mbn text-right pt10"><b> Film Type </b></p>
					 <p class="text-right">(Select all that apply)</p>
				     </div>
					 <div class="col-md-8 pln smallcheck">
					 <div style="border:1px solid #ddd;padding:20px;">
					 <div>
					 <label class="control control--checkbox"> Animation
					  <input type="checkbox" checked="checked" value="Animation" (change)="onFilmTypeChange($event.target.value,$event.target.checked)"/>
					  <div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox">Documentary
					  <input type="checkbox" value="Documentary" (change)="onFilmTypeChange($event.target.value,$event.target.checked)"/>
					  <div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox">Experimental
					  <input type="checkbox" value="Experimental" (change)="onFilmTypeChange($event.target.value,$event.target.checked)"/>
					  <div class="control__indicator"></div>
					</label>
					</div>
					<div>
					 <label class="control control--checkbox"> Feature
					  <input type="checkbox" checked="checked" value="Feature" (change)="onFilmTypeChange($event.target.value,$event.target.checked)"/>
					  <div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox">Music Video
					  <input type="checkbox" value="Music Video" (change)="onFilmTypeChange($event.target.value,$event.target.checked)"/>
					  <div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox">Short Film
					  <input type="checkbox" value="Short Film" (change)="onFilmTypeChange($event.target.value,$event.target.checked)"/>
					  <div class="control__indicator"></div>
					</label>
					</div>
					<div>
					 <label class="control control--checkbox"> Student
					  <input type="checkbox" checked="checked" value="Student" (change)="onFilmTypeChange($event.target.value,$event.target.checked)"/>
					  <div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox">TV Series
					  <input type="checkbox" value="TV Series" (change)="onFilmTypeChange($event.target.value,$event.target.checked)"/>
					  <div class="control__indicator"></div>
					</label>
					<label class="control control--checkbox">Web Series
					  <input type="checkbox" value="Web Series" (change)="onFilmTypeChange($event.target.value,$event.target.checked)"/>
					  <div class="control__indicator"></div>
					</label>
					</div>
					<div>
					 <label class="control control--checkbox"> Other
					  <input type="checkbox" checked="checked" value="Other" (change)="onFilmTypeChange($event.target.value,$event.target.checked)"/>
					  <div class="control__indicator"></div>
					</label>
					</div>
					 </div>
					 </div>
				    </div>
					
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"><b> Genre </b></p>
					 <div class="col-md-8">
						<input type="text" id="inputStandard" class="form-control" placeholder="Sci-Fi, Romance, Drama, etc" style="display:inline-block;width:350px;"
						[(ngModel)]="genre">
				    </div>
					</div>

					<div class="row pt10">
						<p class="mb5 col-md-3 text-right"><b> Movie Name </b></p>
					<div class="col-md-8">
					 <input type="text" id="inputStandard" class="form-control" placeholder="your movie name" style="display:inline-block;width:350px;"
					 [(ngModel)]="movieName">
					 </div>
				 </div>
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"><b> Run Time </b></p>
					 <div class="col-md-8">
					 <div class="pull-left mr10">
					 <p class="mbn">Hours</p>
						<input type="text" id="inputStandard" class="form-control text-center" placeholder="00" style="display:inline-block;width:50px;padding:0px;"
						[(ngModel)]="hours">
					</div>
					<div class="pull-left mr10">
					 <p class="mbn">Minutes</p>
					<input type="text" id="inputStandard" class="form-control text-center" placeholder="00" style="display:inline-block;width:50px;padding:0px;"
					[(ngModel)]="minutes">
					</div>
					<div class="pull-left">
					 <p class="mbn">Seconds</p>
					<input type="text" id="inputStandard" class="form-control text-center" placeholder="00" style="display:inline-block;width:50px;padding:0px;"
					[(ngModel)]="seconds">
				    </div>
					</div>
					</div>
					
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"><b> Release Date </b></p>
					 <div class="col-md-8">
					 <div class="pull-left mr10">
						<input type="text" id="inputStandard" class="form-control text-center" placeholder="DD" style="display:inline-block;width:50px;padding:0px;"
						[(ngModel)]="day">
					</div>
					<div class="pull-left mr10">
					<input type="text" id="inputStandard" class="form-control text-center" placeholder="MM" style="display:inline-block;width:50px;padding:0px;"
					[(ngModel)]="month">
					</div>
					<div class="pull-left">
					<input type="text" id="inputStandard" class="form-control text-center" placeholder="YYYY" style="display:inline-block;width:50px;padding:0px;"
					[(ngModel)]="year">
				    </div>
					</div>
					</div>
					
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"><b> Production Budget </b></p>
					 <div class="col-md-8">
					 <div class="pull-left mr10">
						<input type="text" id="inputStandard" class="form-control text-center" placeholder="10000" style="display:inline-block;width:150px;padding:0px;"
						[(ngModel)]="productionBudget">
					</div>
					<!-- <div class="pull-left mr10">
					<input type="text" id="inputStandard" class="form-control text-center" placeholder="MM" style="display:inline-block;width:50px;padding:0px;">
					</div> -->
					</div>
					</div>
					
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"> <b>Country</b> </p>
					 <div class="col-md-8">
            <select class="vb-custom-dropdown price-text-field profile-mwidth myac-dropyear" style="display:inline-block;width:350px;border:1px solid #ddd !important;"
            (change)="selectFilmCountry($event.target.value)">

              <option></option>
						  <option *ngFor="let country of countryArray"> {{ country }} </option>
						  
						</select>
						</div>
				    </div>
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"> <b>Film Language</b> </p>
					 <div class="col-md-8">
            <select class="vb-custom-dropdown price-text-field profile-mwidth myac-dropyear" style="display:inline-block;width:350px;border:1px solid #ddd !important;"
            (change)="selectFilmLanguage($event.target.value)">>
              <option></option>
              <option *ngFor="let language of filmLanguageArray" > {{ language }} </option>
						 
						</select>
						</div>
				    </div>
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"><b> Shooting  Format </b></p>
					 <div class="col-md-8">
						<input type="text" id="inputStandard" class="form-control" placeholder="Digital, 35mm, RED, etc" style="display:inline-block;width:350px;"
						[(ngModel)]="shootingFormat">
				    </div>
					</div>
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"> <b>Film Color</b> </p>
					 <div class="col-md-8">
            <select class="vb-custom-dropdown price-text-field profile-mwidth myac-dropyear" style="display:inline-block;width:350px;border:1px solid #ddd !important;"
            (change)="selectFilmColor($event.target.value)">
              <option></option>
						  <option *ngFor="let color of filmColorArray" > {{ color }} </option>
						 
						</select>
						</div>
				    </div>
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"><b> Story / Plot </b></p>
					 <div class="col-md-8">
						<textarea rows="4" class="form-control" placeholder="" style="display:inline-block;width:350px;"
						[(ngModel)]="story"></textarea>
					</div>
				    </div>
					
				  </div>
			   </div>
			    <div class="panel mt20">
				  <div class="panel-body">
				    <div class="comp-title">
					  <h3 class="mtn"> <span class="comp-one"> 2 </span> Movie & Trailer </h3>
					
					</div>
					<div class="row" style="width:80%;margin:auto;">
					 <div class="col-md-6">
					  <img src="../assets/img/movie.png"/>
					  <div style="width:100%;text-align:center;margin-top:20px;">
						 <input style="display: none" type="file" (change)="onUploadMovie($event)" #movieFileInput>	
					   <a class="btn-red cursor" (click)="movieFileInput.click()">Upload Movie</a>
					  </div>
					 </div>
					 <div class="col-md-6">
					  <img src="../assets/img/trailer.png"/>
					  <div style="width:100%;text-align:center;margin-top:20px;">
						 <input style="display: none" type="file" (change)="onUploadTrailer($event)" #trailerFileInput>		
					   <a  class="btn-gray cursor" (click)="trailerFileInput.click()">Upload Trailer</a>
					  </div>
					 </div>
					 <div class="col-md-12 text-center" style="margin-top:30px;">
					  <label class="control control--checkbox">Subtitles
					  <input type="checkbox">
					  <div class="control__indicator"></div>
					</label>
					<select class="vb-custom-dropdown price-text-field profile-mwidth myac-dropyear" style="display:inline-block;width:150px;border:1px solid #ddd !important;margin-left:15px;font-style: normal;">
						  <option> Telugu </option>
						  <option> English </option>
						  <option> Tamil  </option>
						  <option> Kannada  </option>
						</select>
					 </div>
					</div>
					
				  </div>
			   </div>
			    <div class="panel mt20">
				  <div class="panel-body">
				    <div class="comp-title">
					  <h3 class="mtn"> <span class="comp-one"> 3 </span> Cover images </h3>
					
					</div>
					<div class="row pt10" style="width:80%;margin:auto;">
					  <div class="col-md-5">
					   <img src="../assets/img/cover1.png"/>
					   <p class="text-center">Movie Poster</p>
					  </div>
					  <div class="col-md-7">
					   <img src="../assets/img/cover2.png"/>
					   <p class="text-center">Cover image for video</p>
					  </div>
					</div>
					
				  </div>
			   </div>
			   <div class="panel mt20">
				  <div class="panel-body">
				    <div class="comp-title">
					  <h3 class="mtn"> <span class="comp-one"> 4 </span> Cast &amp; Crew </h3>
					</div>
					
					
				     
				   <div class="row" style="width:80%;margin:40px auto;border:1px solid #ddd;">
				   <h4 class="mb5 text-left col-md-12" style="background:#ededed;padding:10px;"><b> Cast </b></h4>
				      <div class="col-md-3">
					    <div class="main-cast">
					     <p>
                  <input style="display: none" type="file" onclick="this.value = null" (change)="addCastPic($event)" #fileInput>
									<a href="#" *ngIf="!presentCastPic" ><img src="../assets/img/avatar.png"/></a>
									<a href="#" *ngIf="presentCastPic" ><img [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)"></a>
                  <span><a class="cursor" (click)="fileInput.click()"><img src="../assets/img/camera.png"/></a></span>
					     </p>
							 <select class="vb-custom-dropdown price-text-field profile-mwidth myac-dropyear" style="display:inline-block;border:1px solid #ddd !important;background-color:#ededed;font-style: normal;"
							  [(ngModel)]="castRole">
						  <!-- <option class="" selected> ROLL </option>
						  <option> Hero </option>
						  <option> Comedian  </option>
							<option> Director  </option> -->
							
							<option></option>
						  <option *ngFor="let roll of castRoleArray"> {{ roll }} </option>
						</select>						
						<input type="text" id="inputStandard" class="form-control" placeholder="Name" style="display:inline-block;background:#ededed;margin-top:10px;" [(ngModel)]="castRoleName">
						<button class="btn btn-primary" type="button" (click)="onAddCast()">Add</button>
						</div>
					  </div>
					  <div class="col-md-9 panelmc">
					  <div class="row sub-cast">
						 <div class="col-md-3" *ngFor="let cast of castAddedArray">
						 <a><img [src]="sanitizer.bypassSecurityTrustUrl(cast.picture)"/></a>
						 <p> {{cast.name}} </p>
						 </div>
						 <!-- <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div> -->
						 <!-- <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div>
						 <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div> -->
					  </div>
					 
					  </div>
				    </div>
					
					
					<div class="row" style="width:80%;margin:40px auto;border:1px solid #ddd;">
				   <h4 class="mb5 text-left col-md-12" style="background:#ededed;padding:10px;"><b> Crew </b></h4>
				      <div class="col-md-3">
					    <div class="main-cast">
					     <p>
								 <input style="display: none" type="file" onclick="this.value = null" (change)="addCrewPic($event)" #fileInput1>
								 <a href="#" *ngIf="!presentCrewPic"><img src="../assets/img/avatar.png"/></a>
								 <a href="#" *ngIf="presentCrewPic" ><img [src]="sanitizer.bypassSecurityTrustUrl(imageCrewPreview)"></a>
					      <span><a class="cursor" (click)="fileInput1.click()"><img src="../assets/img/camera.png"/></a></span>
					     </p>
							 <select class="vb-custom-dropdown price-text-field profile-mwidth myac-dropyear" style="display:inline-block;border:1px solid #ddd !important;background-color:#ededed;font-style: normal;"
							 [(ngModel)]="crewRole">


									<option></option>
									<option *ngFor="let roll of crewRoleArray"> {{ roll }} </option>
						  
						  </select>						
						<input type="text" id="inputStandard" class="form-control" placeholder="Name" style="display:inline-block;background:#ededed;margin-top:10px;"
						[(ngModel)]="crewName">
						<button class="btn btn-primary" type="button" (click)="onAddCrew()">Add</button>
						</div>
					  </div>
					  <div class="col-md-9 panelmc">
					  <div class="row sub-cast">
						 <div class="col-md-3" *ngFor="let crew of crewAddedArray">
						 <a><img [src]="sanitizer.bypassSecurityTrustUrl(crew.picture)"></a>
						 <p> {{crew.name}} </p>
						 </div>
						 <!-- <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div>
						 <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div>
						 <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div> -->
					  </div>
					  <!-- <div class="row sub-cast">
						 <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div>
						 <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div>
						 <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div>
						 <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div>
					  </div>
					  <div class="row sub-cast">
						 <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div>
						 <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div>
						 <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div>
						 <div class="col-md-3">
						 <a><img src="../assets/img/avatar.png"/></a>
						 <p> Name </p>
						 </div>
					  </div> -->
					  </div>
				    </div>
					
					
					
				  </div>
			   </div>
                <div class="panel mt10">
				  <div class="panel-body">
				    <div class="comp-title">
					  <h3 class="mtn"> <span class="comp-one"> 5 </span> Unique URL / Online Profiles </h3>
					</div>
					
					<div class="row pt10" style="width:80%;margin:40px auto;border-bottom:1px solid #cc6a85;padding-bottom:30px;margin-bottom:30px;">
				     <p class="mb5 text-right pull-left" style="color:#cc6a85;font-size:18px;padding-right:10px;"><b> www.CelluloidX.com/ </b></p>
						<input type="text" id="inputStandard" class="form-control pull-left" placeholder="Movie Name" style="display:inline-block;width:350px;"
						[(ngModel)]="urlMovieName">
				    </div>
					<div  style="width:80%;margin:40px auto">
					
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"><b> Website </b></p>
					 <div class="col-md-8">
						<input type="text" id="inputStandard" class="form-control" placeholder="www.moviename.com" style="display:inline-block;width:350px;"
						[(ngModel)]="website">
				    </div>
					</div>
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"><b> Twitter </b></p>
					 <div class="col-md-8">
						<input type="text" id="inputStandard" class="form-control" placeholder="twitter.com/moviename" style="display:inline-block;width:350px;"
						[(ngModel)]="twitter">
				    </div>
					</div>
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"><b> Facebook </b></p>
					 <div class="col-md-8">
						<input type="text" id="inputStandard" class="form-control" placeholder="facebook.com/moviename" style="display:inline-block;width:350px;"
						[(ngModel)]="facebook">
				    </div>
					</div>
					<div class="row pt10">
				     <p class="mb5 col-md-3 text-right"><b> Instagram </b></p>
					 <div class="col-md-8">
						<input type="text" id="inputStandard" class="form-control" placeholder="instagram.com/moviename" style="display:inline-block;width:350px;"
						[(ngModel)]="instagram">
				    </div>
					</div>
					</div>
				  </div>
			   </div>
			   
			   
			  
			   
			   <div class="panel mt20 " style="background:#cc6a85;">
				  <div class="panel-body">
				    <div class="comp-title pull-left">
					  <h3 class="mtn mbn" style="color:#fff;"> <span class="comp-one" style="background:#fff;color:#cc6a85;"> 6 </span> Ticket Price </h3>
					</div> 
					 <div class="pull-left" style="padding-left:30px;padding-top:10px;">
					 <span class="mt10 pl5 pull-left" style="display:inline-block;color:#fff;font-size:20px;">US </span> <span class="pull-left" style="color:#fff;font-size:20px;font-weight:bold;padding-left:5px;padding-right:5px;"> $ </span> 
						<input type="text" id="inputStandard" class="form-control col-md-12" placeholder="" style="display:inline-block;width:150px;background:#fff;"
						[(ngModel)]="ticketPrice">
					
					</div>
				  </div>
			   </div>
			   
			  <p class="text-center" style="font-size:20px;"> Nice job! You’re almost done </p>
			        <div style="width:100%;text-align:center;margin-top:20px;">
					   <a href="#" class="btn-red text-center" (click)="addFilm()">PUBLISH</a>
					  </div>
			   <h6 class="text-center" style="padding:30px 10px 10px;">By Clicking Publish You Agree To Our <span style="color:#cc6a85;"> Terms & Conditions </span></h6>	
			 
			  </div>
              </div>
            </div>
			</section>			
			<footer class="main-footer text-center">
			<div>
			  <ul class="footer-menu">
			    <li><a href="#">How it Works</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
			  </ul>
			</div>
			<div class="termss-menu">
			  <ul>
			    <li><a href="#">Terrms</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Logos</a></li>
			  </ul>
			</div>
			<p class="copyrights mbn" style="font-size:12px;">With <i class="fa fa-heart"></i> for Films from <span style="font-size:15px;color:#000;"> Celluloid<span style="color:#cc6a85;">X</span> &copy Vervbeat </span></p>
			</footer>
        </div>

     
        <!-- page -->
       <!-- Scripts -->
       <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- Menu jQuery plugin -->
        <script type="text/javascript" src="js/hover-dropdown-menu.js"></script>
        <!-- Menu jQuery Bootstrap Addon -->	
        <script type="text/javascript" src="js/jquery.hover-dropdown-menu-addon.js"></script>	
        <!-- Scroll Top Menu -->
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <!-- Sticky Menu -->	
        <script type="text/javascript" src="js/jquery.sticky.js"></script>
        <!-- Revolution Slider -->
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>   
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="js/revolution-custom.js"></script>
        <!-- Animations -->
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <script type="text/javascript" src="js/effect.js"></script>
        <!-- Owl Carousel Slider -->
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <!-- Pretty Photo Popup -->
        <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
        <!-- Parallax BG -->
        <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
        <!-- Custom Js Code -->
        <script type="text/javascript" src="js/custom.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/jquery.mCustomScrollbar.js"></script>
<script>
		(function($){
			$(window).on("load",function(){
				
				$(".panelmc").mCustomScrollbar({
					setHeight:242,
					theme:"minimal-dark"
				});
				
			});
		})(jQuery);
	</script>


        <!-- Scripts -->
  