<div id="page">		
  <!-- Page Loader -->
  <div id="pageloader">
    <div class="loader-item fa fa-spin text-color"></div>
  </div>           
  <section>
   <div class="container">
     <div class="row">
       <div class="col-md-12">
       <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div style="width:350px;margin:auto;position:absolute;top:50%;transform:translateY(60%);text-align:center;left:35%;">
         <p> <img src="../assets/img/login.png"/> </p>
        <div style="padding-top:40px;">
        <p style="margin-bottom:25px;"><input type="text" class="form-control fc-login" placeholder="Email" style="display:inline-block;width:300px;border-color:#7f7f7f;border-radius:10px;font-size:20px;"
          formControlName="email"> </p>
          <div  *ngFor="let validation of account_validation_messages.email">
              <div class="error-message input-err-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">{{validation.message}}
              </div>
           </div> 
        <p><input type="password" class="form-control fc-login" placeholder="Password" style="display:inline-block;width:300px;border-color:#7f7f7f;border-radius:10px;font-size:20px;"
          formControlName="password"> </p>
          <div  *ngFor="let validation of account_validation_messages.password">
              <div class="error-message input-err-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}
              </div>
           </div>
        </div>
       <p style="padding-top:30px;"> <button type="submit" style="background:#ec3333;padding:10px 30px;border-radius:15px;color:#fff;">SUBMIT</button> </p>
      </div>
      </form>
     </div>
     </div>
  </div>
  </section>
</div>