
 
		
	
  
	<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
	     <div style="background:url('../assets/img/signbg.png') #c8477a;width:280px;margin:auto;margin-top:-55px;box-shadow: 0px 6px 7px #c5c3c3;">
	     <div class="logins"> 
		 <div class="loginsin">
		 <a href="#" class="active1" style="padding-right:30px;">SIGN UP </a> <a href="#">LOG IN</a> 
		 <div class="clearfix"></div>
		 </div>
		 <p class="pt40 mbn socialm" style="padding-top:20px;margin-bottom:0px;">
		 <a href="#" style="padding-right:20px;" class="active"><i class="fa fa-facebook"></i></a>
		 <a href="#"><i class="fa fa-google"></i></a>
		 </p>
		 </div>
		 
		 </div>
		 
		 <div style="padding:15px 30px  30px 30px;">
		   <p style="color:#fd6380;" class="text-center"> or Be Classical </p>
		   <div class="row" style="padding-bottom:30px;">
		   <div class="col-md-12">
		   <label class="pull-left" style="display:inline-block;width:8%;"><img src="../assets/img/user.png"/></label> 
		   <input type="text" class="form-control pln" placeholder="First name ..." style="display:inline-block;width:88%;padding-left:0px;margin-left:4%;"/>
		   </div>
		   </div>
		   <div class="row" style="padding-bottom:30px;">
		   <div class="col-md-12">
		   <label class="pull-left" style="display:inline-block;width:8%;"><img src="../assets/img/mail.png"/></label> 
		   <input type="text" class="form-control pln" placeholder="Email ..." style="display:inline-block;width:88%;padding-left:0px;margin-left:4%;"/>
		   </div>
		   </div>
		   <div class="row" style="padding-bottom:30px;">
		   <div class="col-md-12">
		   <label class="pull-left" style="display:inline-block;width:8%;"><img src="../assets/img/lock.png"/></label> 
		   <input type="password" class="form-control pln" placeholder="Password ..." style="display:inline-block;width:88%;padding-left:0px;margin-left:4%;"/>
		   </div>
		   </div>
		   <div class="row">
		   <div class="col-md-12 text-center">
		     <label class="control control--radio">Audience
			  <input type="radio" name="radio" checked="checked"/>
			  <div class="control__indicator"></div>
			</label>
			<label class="control control--radio">Film maker
			  <input type="radio" name="radio"/>
			  <div class="control__indicator"></div>
			</label>
	        </div>
		   </div>
		   <div style="margin-top:15px;" class="text-center">
		   <a href="#" class="btn btn-signup">SIGNUP</a>
		   </div>
		   <p style="font-size:11px;padding-top:15px;    color: #737070;"> By signing up, I agree with CelluloidX’sTerms & Privacy. </p>
		 </div>
		
		 
       <!--  <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
      
    </div>
  </div>
        <div id="page">		
			<!-- Page Loader -->
			<div id="pageloader">
				<div class="loader-item fa fa-spin text-color"></div>
			</div>        
<!-- Sticky Navbar -->
			 <header id="sticker" class="sticky-navigation light-header">
				<!-- Sticky Menu -->
				<div class="sticky-menu relative">
					<!-- navbar -->
					<div class="navbar navbar-default navbar-bg-light" role="navigation">
						<div class="container-fluid">
							<div class="row" id="fixtop">
								<div class="col-md-12" style="padding-left:30px;padding-right:30px;">
									<div class="navbar-header">
									<!-- Button For Responsive toggle -->
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="sr-only">Toggle navigation</span> 
									<span class="icon-bar"></span> 
									<span class="icon-bar"></span> 
									<span class="icon-bar"></span></button> 
									<!-- Logo -->
									 
									<a class="navbar-brand" href="index.html">
										<img class="site_logo" alt="Site Logo" src="../assets/img/logo.png" />
									</a></div>
									<p class="pull-right" style="padding-top:12px;"> 
									Dashboard
									</p>
								</div>
								<!-- /.col-md-12 -->
							</div>
							<!-- /.row -->
							
						</div>
						<!-- /.container -->
					</div>
					<!-- navbar -->
				</div>
				 <!-- Sticky Menu -->
			</header>
			<!-- Sticky Navbar -->		
			
            <section style="background:#ededed;">
			
			 <div class="container" style="max-width:1000px;margin:auto;">			 
			<div class="row ph65 dashboard-ph65">
			  <div class="col-md-12">
			  <div>
			  <h1 class="pull-left myprojects"> My Projects </h1>
			  <a href="#" class="addproject pull-left" (click)="toAddProject()">Add Project </a>
			  <div class="clearfix"></div>
			  </div>
			  <div style="border-bottom:1px solid #ddd;margin-bottom:20px;">
			  <h6 style="border-bottom:1px solid #cc6a85;display:inline-block;font-size:20px"  class="mbn">                                                                              
			  Projects({{myFilms.length}})
			  </h6>
			  </div>
			   <div class="panel mt20" *ngFor="let film of myFilms">
				  <div class="panel-body">
				    <p class="mbn pull-left"><img src="../assets/img/cast.png"/></p>
                   <div class="pull-left db-myfilm" style="margin-left:14px">
				     <h5 style="font-size:25px;" class="mbn">{{film.movieName}}</h5>
					 <p> This project has not yet been released. </p>
					 <a href="#" class="sbtn">VIEW</a>
					 <a href="#" class="sbtn">Edit</a>
					 <a href="#" class="sbtn">Delete</a>
				   </div>
					<div class="clearfix"></div>				   
				  </div>
				 </div>

				 <!-- <div class="panel mt20" *ngFor="let film of myFilms">
				  <div class="panel-body">
				    <p class="mbn pull-left"><img src="../assets/img/cast.png"/></p>
                   <div class="pull-left db-myfilm" style="margin-left:14px">
				     <h5 style="font-size:25px;" class="mbn">My film </h5>
					 <p> This project has not yet been released. </p>
					 <a href="#" class="sbtn">VIEW</a>
					 <a href="#" class="sbtn">Edit</a>
					 <a href="#" class="sbtn">Delete</a>
				   </div>
					<div class="clearfix"></div>				   
				  </div>
				 </div> -->
				 
			   
			  
			<!--   <p class="text-center" style="font-size:20px;"> Nice job! You’re almost done </p>
			        <div style="width:100%;text-align:center;margin-top:20px;">
					   <a href="#" class="btn-red text-center">PUBLISH</a>
					  </div>
			   <h6 class="text-center" style="padding:30px 10px 10px;">By Clicking Publish You Agree To Our <span style="color:#cc6a85;"> Terms & Conditions </span></h6>	 -->
			 
			  </div>
              </div>
            </div>
			<div class="mob-height-auto" style="height:400px;"></div>
			</section>		
			
		<!--  <footer style="background:#000;">
			 <div class="footer container">
			   <ul class="nav navbar-nav">
			     <li> <a href="#"> About Us  </a></li>
				 <li> <a href="#">Careers </a></li>
				 <li> <a href="#">Blog </a></li>
				 <li> <a href="#">Contact Us </a></li>
				 <li> <a href="#">Feed back </a></li>
				 <li> <a href="#">Help </a></li>
				 <li> <a href="#">Faq's </a></li>
				 <li> <a href="#">Terms & Conditions </a></li>
			   </ul>
			 </div>
			</footer> -->
			
			<!-- new footer -->
			<footer class="main-footer text-center" style="padding-top:30px;">
			<div>
			  <ul class="footer-menu">
			    <li><a href="#">How it Works</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
			  </ul>
			</div>
			<div class="termss-menu">
			  <ul>
			    <li><a href="#">Terrms</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Logos</a></li>
			  </ul>
			</div>
			<p class="copyrights mbn" style="font-size:12px;">With <i class="fa fa-heart"></i> for Films from <span style="font-size:15px;color:#000;"> Celluloid<span style="color:#cc6a85;">X</span> &copy Vervbeat </span></p>
			</footer>
			
			<!-- End new footer -->
        </div>
        <!-- page -->
       <!-- Scripts -->
       <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- Menu jQuery plugin -->
        <script type="text/javascript" src="js/hover-dropdown-menu.js"></script>
        <!-- Menu jQuery Bootstrap Addon -->	
        <script type="text/javascript" src="js/jquery.hover-dropdown-menu-addon.js"></script>	
        <!-- Scroll Top Menu -->
        <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
        <!-- Sticky Menu -->	
        <script type="text/javascript" src="js/jquery.sticky.js"></script>
        <!-- Revolution Slider -->
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>   
        <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="js/revolution-custom.js"></script>
        <!-- Animations -->
        <script type="text/javascript" src="js/jquery.appear.js"></script>
        <script type="text/javascript" src="js/effect.js"></script>
        <!-- Owl Carousel Slider -->
        <script type="text/javascript" src="js/owl.carousel.min.js"></script>
        <!-- Pretty Photo Popup -->
        <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
        <!-- Parallax BG -->
        <script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
        <!-- Custom Js Code -->
        <script type="text/javascript" src="js/custom.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/jquery.mCustomScrollbar.js"></script>
<script>
		(function($){
			$(window).on("load",function(){
				
				$(".panelmc").mCustomScrollbar({
					setHeight:242,
					theme:"minimal-dark"
				});
				
			});
		})(jQuery);
	</script>


        <!-- Scripts -->
  