/* You can add global styles to this file, and also import other style files */
#pageloader{
    display: none;
}

/* .modal-backdrop.fade.in {
    opacity: 0 !important;
    filter: alpha(opacity=50);
   
    } */